.home-page-layout {
    .title-weather-icon {
        width: 9.375rem;
        height: auto;
    }

    .title-temperature-text {
        font-size: 9.375rem;
    }

    .hourly-forecast-layout {
        .hourly-card {
            background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}